/* component member_page/component/index.css*/

/* Don't delete this style */
span.title_style{
    font-family: "khmer";
}
/* Don't delete this style */

.board{
    width: 75%;
    margin: 0px auto;
    height: 500px;
    background: #fff;
}
h3.member-manage-ads {
    padding: 0px;
    font-size: 21px;
    font-weight: bold;
   background: #eaeaea;
    padding-bottom: 7px;
}
.board .nav-tabs {
    position: relative;
     border-bottom: 0;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}
.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}
p.narrow{
    width: 60%;
    margin: 10px auto;
}
.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}
li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}
span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}
li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}
span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}
li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}
li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
span.round-tabs.five{
    color: #999;border: 2px solid #999;
}
li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 191.8px;
}
.nav-tabs-test > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.nav-tabs > li a:hover{
    background: rgb(29, 38, 49);
}
.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 0px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green{
    background-color:#5cb85c;
    border: 2px solid #5cb85c;
    color: #ffffff;
}
.button-list-product-merchant {
    padding-left: 10px;
    padding-bottom: 5px;
}
.list-product-merchant {
    margin-bottom: 9px;
    border-bottom: 1px solid #c3c3c3;
    background: #f3f3f3;
    box-shadow: 1px 1px 12px 0px rgba(128, 128, 128, 0.42);
}
.wrap-product {
    padding: 9px;
    min-height: 128px;
    background: #eaeaea;
     border-bottom: 1px solid #e4e4e4;
}
.media-object.img-rounded.img-responsive {
    border-radius: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(0%, -24%);
}
.pull-left {
    height: 100px;
    width: 180px;
}
.image {
    position: absolute;
    height: 100px;
    width: 70%;
    display: block;
    overflow: hidden;
    margin: 10px;
}
.col-sm-12.item-info {
    padding: 0;
    background: #eaeaea;
    margin: 0 auto;
    border-bottom: 1px solid #f77416;
    margin-bottom: 8px;
    height: 34px;
}
ul.items {
    list-style-type: none;
    display: flex;
    float:right;
    margin-bottom: 0px;
}
.items li {
    margin-right: 1px;
    padding: 6px;
   float: left;
    width: 100px;
    background:#f77416;
}
.items li {
    text-align: center;
}
.items li a {
    color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgb(254, 189, 105);/*#f77416;*/
    color: white;
}
.nav-tabs {
    background: transparent;
    border-bottom: 1px solid rgba(247, 116, 22, 0);
    font-size: 17px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    color:white;
}
.tab-pane{
    border: 1px solid #cccccc;
    min-height: 240px;
}

panel-default>.panel-heading {
    background: #febd69;
    color: black;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: no-repeat;
}

.long-title-hidden{
    width: 640px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.product-price-discount{
    font-weight: bold;
    /*font-family: monospace;*/
    font-size: 18px;
    color: darkgreen;
}
.product-view{
    font-weight: bold;
    /*font-family: monospace;*/
    font-size: 16px;
    color: black;
}

.product-btn-free-post {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 40px;
    margin-left: -10px;
    color: white;
    background: #f78911;
    float: right;
}
.board{
    width: 75%;
    margin: 0px auto;
    height: 500px;
    background: #fff;
    box-shadow: 10px 10px #ccc,-10px 20px #ddd;
}
h3.member-manage-ads {
    padding: 0px;
    font-size: 21px;
    font-weight: bold;
    background: #eaeaea;
    padding-bottom: 7px;
}
.board .nav-tabs {
    position: relative;
    border-bottom: 0;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}
.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}
p.narrow{
    width: 60%;
    margin: 10px auto;
}
.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}
li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}
span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}
li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}
span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}
li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}
li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
span.round-tabs.five{
    color: #999;border: 2px solid #999;
}
li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 162.8px;
}

.nav-tabs-test > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.nav-tabs > li a:hover{
    background: transparent;
}
.tab-content{
}
.product-sub-nav .tab-pane{
    position: relative;
    padding-top: 0px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green{
    background-color:#5cb85c;
    border: 2px solid #5cb85c;
    color: #ffffff;
}

.wrap-product {
    padding: 9px;
    min-height: 128px;
    background: #eaeaea;
    border-bottom: 1px solid #e4e4e4;
}
.media-object.img-rounded.img-responsive {
    border-radius: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(0%, -24%);
}
.pull-left {
    height: 100px;
    width: 180px;
}
.image {
    position: absolute;
    height: 100px;
    width: 70%;
    display: block;
    overflow: hidden;
    margin: 10px;
}
.col-sm-12.item-info {
    padding: 0;
    background: #eaeaea;
    margin: 0 auto;
    border-bottom: 1px solid #f77416;
    margin-bottom: 8px;
    height: 34px;
}
ul.items {
    list-style-type: none;
    display: flex;
    float:right;
    margin-bottom: 0px;
}
.items li {
    margin-right: 1px;
    padding: 6px;
    float: left;
    width: 100px;
    background:#f77416;
}
.items li {
    text-align: center;
}
.items li a {
    color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f0ad4e;
    color: white;
}
.product-sub-nav .nav-tabs>li>a {
    color: white;
    border-right: 1px solid #aaaaaa;
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px #ccc;
    font-size: 16px;
}
.nav-tabs {
    /*border-bottom: 1px solid #f77416;*/
    font-size: 17px;
}
.product-sub-nav .tab-pane{
    border: 1px solid #cccccc;
    min-height: 240px;
}
.panel-default>.panel-heading {
    background:  #febd69;
    color: black;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: no-repeat;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgb(254, 189, 105);
    color: white;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}
p.product.price {
    font-weight: bold;
    font-size: 15px;
    color: #a94141;
}
p.product.date {
    font-family: monospace;
    font-weight: 200;
    font-size: 13px;
    color: #7d7575;
}
p.product.name {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.pro-item {
    padding: 7px;
    font-size: 16px;
}
.wrap-row {
    padding: 4px;
}
.row.item-product {
    background: #f5f5f5;
    box-shadow: 0px 2px 4px #ababab;
}
.image-block {
    padding: 7px;
    /*box-shadow: 1px 1px 5px 2px #afaeae;*/
}
.pro-item {
    font-size: 16px;
}
.pro-item.font-wight-bold {
    font-weight: bold;
    border-bottom: 1px solid #d6d6d6;
}
.pro-item.font-family {
    font-family: monospace;
}
.pro-item.price {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: #9c1a1a;
}
/*.btn-default.product {*/
    /*width: 92px;*/
/*}*/
.container.child {
    padding: 0;
}
.image-wrapp {
    padding: 5px;
}
.tooltip-inner {
    background-color: #d9534f;
    color: white;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #d9534f;
}
.product.thumbnail>img {
    display: block;
    max-width: 100%;
    height: 220px;
}
/*override*/
.tab-category {
    margin: 0px 0px;
    padding: 0px;
    border: 0px;
    float: left;
}
.tab-category ul li a{
    font-size: 18px;
    width: 160px;
    overflow:hidden;
    white-space:nowrap;
    float: left;
    text-overflow: ellipsis;
}
.tab-category ul li{
    border: 0px;
    padding: 0px;
    margin: 0px -5px;
}
.tab-category .nav-tabs > li {
    width: 172px;
}
.see-more .tab-category .nav-tabs > li {
    width: 170px;
}
.tab-category .nav {
    padding-left: 0;
    margin: 0 auto;
    padding: 0px;
}
.product-sub-nav .nav-tabs {
    width: 95%;
    margin-left: 2.5%;
}
.product-sub-nav .tab-pane {
    border: 1px solid #cccccc;
    width: 95%;
    margin-left: 2.5%;
}
.long-title-hidden{
    width: 200px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.product-price-discount-end-date{
    font-weight: bold;
    /*font-family: monospace;*/
    font-size: 18px;
    color: #b51615;
}
.product-view{
    font-weight: bold;
    /*font-family: monospace;*/
    font-size: 16px;
    color: black;
}
.product-description{
    /*font-family: Khmer;*/
    color: black;
}
.product-btn-free-post {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 40px;
    margin-left: -10px;
    color: white;
    background: #f78911;
    float: right;
}
/* notification number*/
.badge {
    margin-top: -20px;
    margin-left: -15px;
    background: #EB9316;
}
/* notification sub dropdown menu */
.dropdown-menu {
    border-radius: 0px;
}

.dropdown-submenu{
    width: 400px;
    margin-top: 10px;
}

.dropdown-submenu li {
    padding: 5px 0px;
    border-bottom: 1px solid lightgray;
}
.dropdown-submenu li a {
    color: #1d2129;
    display: block;
    padding: 0 17px;
    min-height: 50px;
}
.dropdown-submenu a {
    color: #365899;
}

.btn-upgrade-account {
    float: right;
    margin-bottom: -30px;
}
/* navigation */
.member-navigation {
    padding: 7px 47px;
}
.member-navigation .logo {
    width: 180px;
}
.member-navigation-icon {
    float: right;
    margin-top: -50px;
}
.member-navigation-icon .fa {
    color: #fff;
}

.member-navigation-icon .fa.fa-nav {
    color: #fff;
    font-size: 24px;
    padding: 0 7px;
}
.col-lg-2.col-sm-2.col-xs-2 p {
    color: black;
}
.col-lg-4.col-xs-4 strong {
    color: black;
    font-weight: bold;
    /*font-family: monospace;*/
    font-size: 17px;
}
.col-lg-5.col-md-5.col-sm-5.col-xs-5 h5 {
    color: black;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6 tr {
    color: black;
}
.col-lg-5.col-md-5.col-sm-5.col-xs-5 label {
    color: black;
}
label.control-label {
    color: black;
}
tbody tr {
    color: black;
}
.container.child {
    min-height: 68vh;
}
button.upgrade-butt.btn.btn-default {
    background:transparent;
    border: none;
    padding: 0;
    border-radius: 20px;
    box-shadow: none;
    left: 85px;
    top: -19px;
    position: absolute;
    z-index:9999;
}
.upgrade-butt.col-lg-4.col-md-4.col-sm-4.col-xs-4 {
    text-align: center;
    position: absolute;
    right: -28px;
    top: 0;
}
.upgrade-in-profile.btn.btn-default {
    background:transparent;
    border: none;
    padding: 0;
    border-radius: 20px;
    box-shadow: none;
}
.panel-heading.blue-panel {
    background: #0bc4fd;
    color: white;
    height: 138px;
}
.panel-heading.black-panel {
    background: rgba(0, 0, 0, 0.82);
    color: white;
    height: 138px;
}
.panel-heading.orange-panel {
    background:orangered;
    color: white;
    height: 138px;
}
.fa-2x {
    font-size: 20px;
}
button.request.btn.btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-left: 44px;
    margin-top: -19px;
}
button.btn.btn-warning.promote-package {
    float: right;
    background: #ff6903;
    /* padding-left: 10px; */
}
.payment.col-xs-10.col-xs-offset-2 {
    padding-right: 0;
}
.wrapp-payment {
    border: 2px solid #9a9a9a;
    width: 50%;
    height:200px;
    margin-bottom: 10px;
}
.wrap-image-payment img {
    height: 80px;
    width: 80px !important;
    margin-top:40px;
}
.wrap-image-payment img:hover{
    cursor:pointer;
}
ul.payment li {
    margin-left:20px;
    float: left;
    margin-right:50px;
}
h3.payment {
    background: black;
    color: white;
    padding: 5px;
    width: 172px;
    font-size: 18px;
    position: absolute;
    right: 280px;
    top: -32px;
}
p.cash {
    font-size: 22px;
}
h4.contact-admin {
    background: #ffa318;
        padding: 7px;
        color: white;
        margin-top: 0px;
}
.contact-info {
    background: #f3f3f3;
    border: 2px solid #a9a9a9;
}
.wrap-cont-contact {
    border-bottom: 2px solid #cecccc;
    padding-bottom: 8px;
}