.custom-footer{
    color: #FFFFFF;
    background-color: #232f3e;
    margin: 0px;
    padding: 0px;
    height:100px;
}
.wrap-image-footer img {
    width: 100%;
    margin-top: -40px;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #232f3e;
    height: auto;
    padding-bottom: 30px;
    /*position: relative;*/
    width: 100%;
    border-bottom:1px solid #6d6d6d;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    /* border-bottom: 1px solid #737373; */
    color: #febd69;
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    padding: 0px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0px 0px 4px 9px;
    display: block;
    color: white;
}
.footer ul li a:hover{
    padding: 0px 0px 4px 9px;
    display: block;
    color: white;
    text-decoration: underline;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #232f3e;
    border: 2px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    /*transform: scale(1.15) rotate(360deg);*/
    /*-webkit-transform: scale(1.1) rotate(360deg);*/
    /*-moz-transform: scale(1.1) rotate(360deg);*/
    /*-ms-transform: scale(1.1) rotate(360deg);*/
    /*-o-transform: scale(1.1) rotate(360deg);*/
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 14px;
    margin: 0px 12px 0px 1px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #232f3e;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}
p.center {
    text-align:center;
}
@media(min-width: 320px) {
    .footer {
        background: #232f3e;
        height: auto;
        padding-bottom: 30px;
        /* position: relative; */
        width: 1142px;
        border-bottom: 1px solid #6d6d6d;
    }
    .footer-bottom {
        background: #232f3e;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        width: 1142px;
    }

}
@media(min-width: 768px) {
    .footer {
        background: #232f3e;
        height: auto;
        padding-bottom: 30px;
        /* position: relative; */
        width: 1142px;
        border-bottom: 1px solid #6d6d6d;
    }
    .footer-bottom {
        background: #232f3e;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        width: 1142px;
    }

}
@media(min-width: 1200px) {
    .footer {
        background: #232f3e;
        height: auto;
        padding-bottom: 30px;
        /* position: relative; */
        width: 100%;
        border-bottom: 1px solid #6d6d6d;
    }
    .footer-bottom {
        background: #232f3e;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        width: 100%;
    }

}