<!DOCTYPE html>
<html lang = "en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>cambosmart.com</title>
    <!-- Khmer font -->
    <link href='https://fonts.googleapis.com/css?family=Bayon|Francois+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Khmer" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/about.png (1).ico"/>
	
	
<!-- Minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional Theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->
    <!-- Optional theme -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"> -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- font awesome -->
    <!--<script src="https://use.fontawesome.com/40f8618051.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrKGYODDtCve1sGhMgltbhBP-9PVBVq8E"></script>

    <!-- Facebook plugin -->
    <meta property="fb:app_id" content="1307001952740433"/>
    <!-- Facebook share -->
    <meta property="og:image"         content="https://cambosmart.com/images/products/{{image}}" />
    <meta property="og:url"           content="https://cambosmart.com/products/detail?id={{url}}&name={{title}}&des={{description}}&img={{image}}" />
    <meta property="og:title"         content="{{title}}" />
    <meta property="og:description"   content="{{description}}" />

    <style>
        body{  font-family: "Khmer","sans-serif","Arial";  }
    </style>

</head>
    <body>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!-- Your share button code -->

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5950c77d50fd5105d0c82b0c/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <div id = "app"></div>
        <script type="text/javascript" src="/js/bundle.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script></body>
</html>