/* components/products/product_detail_page/list_product.css */

.img-card-list img {
    width: 100%;
    height: 200px;
    object-fit:cover;
    padding: 5px;
    transition: all .25s ease;
    margin-top: 0px !important;
}
.img-card-list {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
    margin-top: 0px !important;
}

.make-cute-title-grid {
    width: 250px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title-product.make-cute-title-grid {
    padding: 0px;
    margin: 5px 0 0 -5px;
    font-size: 18px;
}
.wrap-header-product {
    background: rgb(255, 255, 255);
    height: 46px;
    box-shadow: 1px 1px 1px 1px rgba(35, 47, 62, 0.25);
    color: #232f3e;
    /* background-color: white; */
    /* margin-top: 0px; */
    border-bottom: 2px solid #febd69;
}
.img-card.related-product{
    width: 278px;
    height: 229px !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}
.img-card.related-product img{
    max-width: 275px;
    max-height: 290px !important;
    object-fit: cover;
    transition: all .25s ease;
}
.img-card {
    width: 268px;
    height: 250px !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}
.img-card img {
    margin-left: 5px;
    width: 270px;
    height: 250px !important;
    object-fit: cover;
    transition: all .25s ease;
    margin-top: 5px;
}
.card {
    display: block;
    margin: 6px 0px;
    line-height: 1.42857143;
    padding: 0px;
    border: 5px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.line-title {
    border:none;
    width: 99.9%;
    clear: both;
}
.col-lg-3.col-md-3.col-sm-4.col-xs-6 {
    PADDING-RIGHT: 0PX !important;
    padding-left: 10px;
}
.col-xs-12.col-sm-6.col-md-6.col-lg-6 {
    padding-right:0px;
    padding-left: 10px;

}
.related-product.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 5px;
}
.m-title-header .row {
    margin-left: 0;
    margin-right: 0;
}
.category-title-header {
    background: rgb(255, 255, 255);
    height: 45px;
    box-shadow: 1px 1px 1px 1px rgba(35, 47, 62, 0.25);
    color: #232f3e;
}
.row.row_product_category-filter {
    padding-right: 0;
    padding-left: 0;
    height: 97px;
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(35, 47, 62, 0.28);
}
.col-xs-12.col-sm-4.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 10px;
}
.recently-product.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 10px;
    padding-right: 5px;
}
.col-xs-12.col-sm-8.col-md-9.col-lg-9 {
    padding-right: 0;
    padding-left: 15px;
}
.row.wrap-header-category-page.category-title-header {
    margin-left: 3px;
}
.col-xs-12.col-md-9.col-lg-9.block-sub-main-image {
    padding-right: 0;
}
.detail-page.col-lg-12.col-md-12.col-xs-12.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.detail-page.col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 5px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-6 {
    padding-right: 0px;
    padding-left: 4px;
}
/*.row.row_ad_product_category {*/
    /*margin-left: -17px;*/
/*}*/
.m-product-list.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    padding-left: 0px;
    padding-right: 10px;
}
.pro-list.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 1px;
}
.m-product-list.col-lg-4.col-md-4.col-sm-4.col-xs-6 {
    padding-right: 5px;
    padding-left: 5px;
}
.col-sm-12.col-md-12.col-lg-12.wrap-header-category {
    position: inherit;
    padding-left: 6px;
}
.m-product-list.col-lg-4.col-md-4.col-sm-6.col-xs-6 {
    padding-left: 10px;
}
.m-product-list-related-product.col-lg-4.col-md-4.col-sm-4.col-xs-6 {
    padding-left: 10px;
    padding-right: 0px;
}
.col-xs-12.col-sm-12.col-md-9.col-lg-9.detail {
    padding-left: 10px;
    padding-right: 0;
}
.col-xs-12.col-sm-6.col-md-6.col-lg-6.related-product {
    margin-top: 10px;
    padding-left: 6px;
}
.detail-page.col-xs-12.col-sm-12.col-md-12.col-lg-12.advertise {
    padding-left: 10px;
    padding-right: 0;
    margin-bottom: -5px;
}
.m-title-header.custom-header {
    border-bottom: 2px solid #febd69;
    background: #ffffff;
    margin-right: 0px;
    margin-left: 10px;
    color: #232f3e;
    height: 50px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.46);

}
.wrap-table-right a{
    color:#232f3e;
}
.wrap-table-right a:hover{
    color:#232f3e;
    text-decoration:underline;
}
.row {
    margin-right: 0px;
    margin-left: -10px;
}
.row.wrap-advertise-detail-page {
    margin-left: 0;
}
.price {
    font-size: 17px;
    color: green;
}
.wrap-price-right {
    height: 30px;
    /* background: #dedede; */
    margin-top: -17px;
    /* padding-bottom: 0; */
    float: right;
    padding-bottom: 0;
    margin-bottom: 0;
}
.location.fa.fa-map-marker {
    float: left;
    padding-right: 5px;
    margin-top: 5px;
    margin-left: 0px;
}
.wrapp_image.related-product img {
    height: 150px;
    width: 100%;
}
.m-product-list {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: -5px;
}
h4.product-title {
    font-weight: bold;
    line-height: 1;
    padding-top: 3px;
    font-size: 18px !important;

}
.detail-page.col-xs-12.col-sm-3.col-md-12.col-lg-12 {
    padding-left: 10px;
    padding-right: 0px;
}
.row.wrap-row-header.wrap-row-product-view-all-grid {
    margin-left: 5px;
    margin-right: 0;
}
.row.detail-page.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 5px;
}
.detail-page.col-xs-12.col-sm-12.col-md-9.col-lg-9 {
    padding-right: 0;
}
.row.category.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 5px;
}
.category.col-xs-12.col-sm-12.col-md-9.col-lg-9 {
    padding-right: 0;
}
.row.wrap-row-product-view-all-grid {
    margin-left: 5px;
    margin-right: -10px;
}
.row.wrap-row-header.product-view-all {
    margin-left: 10px;
    padding-right: 10px;
}
.discount {
    padding-top: 5px;
    font-size: 16px;
    left: 4px;
    font-weight: bold;
    color: #f77416;
    position: absolute;
}
.price-after-discount {
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.original-price {
    font-size: 16px;
    color: red;
    padding-right: 10px;
}
.row-content-product {
    text-align: right;
}
.product-title ul{
    list-style-type: none;
}
.wrap-about-proudct{
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-price{
    color: #f77416;
    font-size: 20px;
    float: left;
}
.title-product{
    font-size: 18px;
}
.make-cute-title-grid{
    width: 250px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.make-cute-title{
    /*width: 500px;*/
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.wrap-title-product{
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.wrap-percent{
    width: 40%;
    height: 10%;
    background-color: #ff7500;
    border: 1px solid yellow;
    text-align: center;
    float: right;
}
.product-person{
    margin-top: 10px;
    color: white;
}
.wrap-row-product {
    margin-bottom: -20px;
}
.wrap-product-thumbnail{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.thumbnail {
    margin-bottom: 0px;
    border-radius: 0px;
}

.wrap-row-title-product{
    background-color: white;
    height: 45px;
}
.row.detail-page.col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    padding-left: 0;
    padding-right: 5px;
}
.detail-page.col-xs-9.col-sm-9.col-md-9.col-lg-9 {
    padding-right: 0;
    padding-left: 10px;
}
.product.col-lg-4.col-md-4.col-sm-4.col-xs-4 {
    padding-right: 0;
    padding-left: 5px;
}
.row.category.col-xs-3 {
    padding-left: 0;
    padding-right: 5px;
}
/*.hot{*/
    /*background-color: white;*/
/*}*/
.view-all{
    float: right;
}
ul.list-view-all {
    list-style-type: none;
}
ul.wrap-view-all {
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 0px;
}
li.m-view-all {
    margin-top: 15px;
}
.wrap-row-percent{
   margin-bottom: -40px;
}


ul.product-page.pagination li.active {
    display: none;
}
ul.product-page.pagination {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -6px;
    margin-bottom: -6px;
    padding-bottom: 5px;
}
.product-thumbnail:hover{
-moz-box-shadow: -2px 1px 40px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.sub-page {
    padding-left: 0;
    padding-right: 0;
}


/*custom thumbnail*/
.wrap-thumbnail{
    border: 3px solid #fbf8f8;
}
.thumbnail.custom-thumbnail {
    padding: 0px;
    border: none;
    border-radius: 0px;
}
.thumbnail.custom-thumbnail :hover{
    opacity: 0.5;
}

ul.product-title {
    list-style-type: none;
    display: inline-flex;
}

ul.list-view-all {
    float: right;
}


table.wrap-table-right {
    float: right;
    margin-right: 5px;
}
/*Update Code css*/
.m-thumbnail.thumbnail {
    margin-bottom: 30px;
    display: block;
    padding: 0px;
    margin: 9px -4px;
    line-height: -0.571429;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.m-thumbnail.thumbnail :hover{
    opacity: 0.5;
}
.card-content {
    padding:14px;
    text-align:left;
}
.row.wrap-row-box {
    margin: -7px -7px;
}

/*Add*/
.advertise{
    margin-bottom: 9px;
}
.wrap-header-product.adver .span.wrap-center-normal-products {
    margin-left: 10px;
}

.wrap-advertisment{
    margin: 6px 3px;
}



td.view-all-normal {
    padding-top: 15px;
    margin-right: 0px;
}


a.carousel-control.left {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}

a.carousel-control.right {
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}


.padding_left_0.padding_right_05.add-image-left {
    clear: both;
}

.row.wrap-center-normal-products {
    margin-left: 0px;
    margin-right: 0px;
}


.row.wrap-header-title {
    background-color: white;
    margin-left: 0px;
}
.row.wrap-header-title.x-header {
    margin-right: 10px;
}


/*Product View All*/
form.pull-right.custom-form-filter-product {
    margin-top: 8px;
    margin-bottom: -20px;
}
ul.list-inline.do-price-right {
    /*margin-left: 30px;*/
}
.m-icon {
    font-size: 12px;
}
.wrap-price-right {
    float: right;
}

a:hover {
    text-decoration: none;
}

.card-content h3 {
    color: #000;
}
.related-product.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 15px;
}
.related-product.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
    padding-right: 10px;
}


.container {
    max-width: none !important;
    width: 1142px;

}
a.viewstore p {
    color: aliceblue;
    background: rgba(146, 8, 8, 0.99);
    padding: 10px;
    margin-left: 32px;
    border-radius: 6px;
}
a.viewstore p:hover {
    color: aliceblue;
    background: rgba(183, 1, 1, 0.99);
    padding: 10px;
    margin-left: 32px;
    border-radius: 6px;
}
.row.wrap-header-category-page.paging {
    margin-left: 5px;
}
