/*
    components/admin_page/advertisement/index.css
*/
.advertisement .nav-tabs > li {
    width: 235px;
}
.advertisement .tab-pane {
    min-height: 900px;
}
.advertisement .nav-tabs>li.active>a, .advertisement .nav-tabs>li.active>a:focus, .advertisement .nav-tabs>li.active>a:hover {
    background-color: #ff6903;/*rgb(254, 189, 105);*/
    color: white;
    border-top-right-radius: 0px;
}

.advertisement .nav-tabs {
    position: relative;
    display: block;
    width: 120px;
    height: 50px;
}

.advertisement .nav-tabs:after{
    content: "";
    float: right;
    margin-top: -43px;
    margin-right: -164px;
    border-left: 50px solid #ff6903;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    z-index: 1;
    position: inherit;
}

.advertisement-detail.panel-default>.panel-heading {
    background: #ff6903;
}

.schedule-div{
    text-align: center;
    border: 1px solid #aaaaaa;
    /*width: 110%;*/
    height: 70px;
    margin-left: -15px;
}

.schedule-div-ht2{
    text-align: center;
    border: 1px solid #aaaaaa;
    width: 107%;
    height: 70px;
}

.schedule-div-right{
    text-align: center;
    border: 1px solid #aaaaaa;
    width: 110%;
    height: 70px;
}

.schedule-div-l{
    text-align: center;
    border: 1px solid #aaaaaa;
    /*width: 170%;*/
    height: 65px;
    margin-left: -15px;
}

.schedule-div-r{
    text-align: center;
    border: 1px solid #aaaaaa;
    height: 65px;
    margin-right: -12px;
}

.schedule-header{
    color: #ff6903;
    margin-top: 20px;
}
.schedule-current{
    color: #ff6903;
    margin-top: 20px;
    font-size: 11px;
}
.schedule-available{
    color: #3e8e41;
    font-size: 11px;
}

.easy-form-div-a{
    pointer-events: none;
    cursor: not-allowed;
}
.easy-form-div-div{
    background: #ddd;
    text-align: center;
    border: 1px solid #ccc;
    height: 130px;
}
.easy-form-div-h{
    margin-top: 55px;
}
.easy-form-div-dl-disable{
    background: #ddd;
    text-align: center;
    border: 1px solid #ccc;
    height: 50px;
}
.easy-form-div-dl-enable{
    text-align: center;
    border: 1px solid #ccc;
    height: 50px;
}
.easy-form-div-dm-enable{
    margin-top: 8px;
    text-align: center;
    border: 1px solid #ccc;
    height: 35px;
}
.easy-form-div-dm-disable{
    margin-top: 8px;
    background: #ddd;
    text-align: center;
    border: 1px solid #ccc;
    height: 35px;
}

