/* component/home/carousel.css */
.carousel-inner {
    background-color: #ffffff;
}

.carousel-caption {
    font-size: 2em;
    right: 10%;
    left: 60%;
    top: 30%;
    bottom: 30%;
    text-align: left;
    text-shadow: none;
}

.carousel-indicators {
    font-size: 2em;
    bottom: -1%;
    text-shadow: none;
}

.carousel.vertical .carousel-inner {
    height: 100%;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    left: 0;
}

.carousel.vertical .active,
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .next,
.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .prev,
.carousel.vertical .active.left {
    top: -100%;
}

/*.advertise_sub_page a.carousel-control.right {*/
    /*display: none;*/
/*}*/

/*.advertise_sub_page a.carousel-control.left {*/
    /*display: none;*/
/*}*/

/*.advertise_sub a.carousel-control.left {*/
    /*display: none;*/
/*}*/

/*.advertise_sub a.carousel-control.right {*/
    /*display: none;*/
/*}*/

.my-carousel.vertical-ad-home.carousel.slide.adv a.carousel-control.right a.carousel-control.left {
    display: none;
}

.advertise_sub_page img {
    width: 100%;
    height: 100%;
}

/********************************/
.dropbtn {
    background-color: #f77416;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    float: right;
    position: relative;
    background-color: #f77416;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 286px;
    height: 100%;
    /*display: none;*/
    top: -103px;
}

/********************/
.col-md-4.block-menu {
    height: 347px;
    width: 300px;
}

.side-bar {
    background: rgb(255, 255, 255);
    height: initial;
    width: 100%;
    color: #fff;
    transition: margin-left 0.5s;
}

.advertise img {
    width: 100%;
}

.side-bar ul {
    list-style: none;
    padding: 0px;

}

/*.col-xs-12.col-md-3.col-lg-3.block-menu {*/
/*min-height: 268px;*/
/*}*/
span.glyphicon.glyphicon-align-justify.pull-right {
    color: #5a5a5a;
}

p.child {
    margin: 0px 0 0 5px;
}

.menu-left.glyphicon {
    padding-right: 8px;
    font-size: 16px;
}

.content {
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar {
    margin-left: -150px;
    transition: margin-left 0.5s;
}

.active > .content {
    padding-left: 50px;
    transition: padding-left 0.5s;
}

/************************/
.top-image img {
    width: 100%;
}

.my-carousel-top.carousel.slide img {
    height: 300px;
}
/*.my-carousel.vertical-ad-home.carousel.slide .carousel-inner {*/
    /*background-color: #ffffff;*/
    /*height: 200px;*/
/*}*/

/*.my-carousel.vertical-ad-home.carousel.slide img {*/
    /*height: 200px;*/
/*}*/

.side-bar ul li.menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu li a {
    color: #505050;
    width: 100%;
    text-decoration: none;
    display: inline-table;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 0px;
}
li.dropdown.megamenu.active a p {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.side-bar ul .menu li a:hover {
    border-left: 3px solid #febd69;
    padding-left: 7px;
    /*font-weight: bold;*/
    /* color: #febd69; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.side-bar ul .menu li a.active {
    /*padding-left:17px;*/
    background: #D9853B;
    border-left: 3px solid #f77416;
}

.side-bar ul .menu li a.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 7px solid #D9853B;
    margin-top: -10px;
    margin-left: 180px;
}

.side-bar ul li.menu-head {
    padding: 18px;
    color: #2b2b2b;
    border-bottom: 2px solid #febd69;
}

.category.list-unstyled.col-lg-4.col-md-4.col-sm-6 a:hover {
    /*border-left: none;*/
    /*font-size: 14px;*/
    text-decoration: underline;
    padding-left: 0px;
    white-space: nowrap;

}

.category.list-unstyled.col-lg-4.col-md-4.col-sm-6 a {
    border-left: none;
    font-size: 14px;
    text-decoration: none;
    padding-left: 0px;
    white-space: nowrap;
}
.carousel-control.left {
    background-image: none;
    background-image:none;
    background-image: none;
    background-image: none;
    filter:none;
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: none;
    background-image:none;
    background-image: none;
    background-image: none;
    filter:none;
    background-repeat: repeat-x;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: 0.6;
}
/* home page */
.advertise_main_page .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -74px;
}
.advertise_main_page .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -74px;
}
/* sub page */
.advertise_sub_page .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
}
.advertise_sub_page .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -50px;
}
/* vertical page*/

.advertise_sub_page.v .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -40px;
}
.advertise_sub_page.v .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -40px;
}
/* horizontal page*/

.advertise_sub_page.horizontal .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -20px;
}
.advertise_sub_page.horizontal .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -20px;
}
.advertise_sub_page img {
    height: 298px;
    width: 838px;
}
ul.thumbs.animated {
    display: none;
}
.slick-track{
    width: 1114px;
}
.slick-initialized.slick-slider.slide-hori img {
    height: 443px;
    width: 273px;
}
.slick-initialized.slick-slider.advertise-v img {
    height: 245px;
    width: 409px;
}
.slick-initialized.slick-slider.advertise-v-home img {
    height: 245px;
    width: 557px;
}
.slick-slide img:hover, .slick-slide img:active {
    border:none !important;
}