/* component/home/home.css */
.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.product.col-lg-3.col-md-3.col-sm-3.col-xs-3 {
    padding-right: 0;
    padding-left: 10px;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-6 {
    padding-right: 0;
    padding-left: 8px;
}
.col-xs-6.col-sm-6.col-md-6.col-lg-6.adv-v-home {
    margin-bottom: 15px;
    margin-top: 15px;
}
.col-xs-6.col-sm-6.col-md-6.col-lg-6.adv-v {
    padding-bottom: 10px;
    padding-top: 10px;
}

.row.col-md-12.col-lg-12.col-sm-12.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}


.block-menu {
    padding-left: 0;
    padding-right: 5px;
}

.megamenu ul {
    padding-bottom: 2px;
    margin-top: 3px;
    border-bottom: 1px rgba(128, 128, 128, 0.11) dotted;
    padding-right: 0;
}

.menu {
    position: static;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-md > .dropdown-menu {
    min-width: 450px;
}

.dropdown-lg > .dropdown-menu {
    min-width: 850px;
}

.list-unstyled.col-lg-3.col-sm-6 p {
    color: black;
}

.dropdown.megamenu.open {
    position: static;
}

.menu-left .fa {
    padding-right: 8px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    float: left;
}
p.main-category {
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.menu-left-hide-show{
    font-weight: bold;
    font-size: 14px;
}

.title .fa {
    margin-right: 4px;
    font-size: 19px;
}

.megamenu > .dropdown-menu {
    border-left: 1px solid rgba(128, 128, 128, 0.23);
    margin: 0 auto;
    top: -2px;
    min-height: 492px;
    left: 100%;
    min-width: 849px;
    border-bottom: none;
    border-right: none;
    /* float: left; */
    border-radius: 0;
    margin-left: -5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.43);
    position: absolute;
    box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    padding: 0;
    z-index: 10000;
    border-top: none;
}
.megamenu > .dropdown-menu.pop {
    border: 1px solid rgba(128, 128, 128, 0.16);
    /* border-left: 1px solid rgba(128, 128, 128, 0.23); */
    margin: 0 auto;
    top: -2px;
    min-height: 448px;
    left: 100%;
    min-width: 851px;
    /* float: left; */
    /* background: #f9f9f9; */
    border-radius: 0;
    margin-left: -5px;
    position: absolute;
    box-shadow:  1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    padding: 0;
    /* vertical-align: top; */
    /* overflow: hidden; */
    /* border-top: none; */
}
.megamenu > .dropdown-menu.home-page {
     margin: 0 auto;
     top: 0;
     left: 100%;
     border-radius: 0;
     width: 100%;
     position: absolute;

 }
.megamenu > .dropdown-menu-pop.home-page {
    margin: 0 auto;
    top: 0;
    left: 100%;
    border-radius: 0;
    width: 100%;
    position: absolute;

}

.wrap-image img {
    position: absolute;
    width: 868px !important;
    height: 491px;
    margin-left: -16px;
}

.dropdown.megamenu.sub-page.open {
    border-bottom: 1px solid #febd69;
}
.row.normalBottom {
    margin-bottom: -10px;
}
.wrapper-category.col-md-8 {
    position: static;
    padding-left: 0;
    padding-right: 0;
}

.wrapper-category-sub.col-md-8 {
    padding-left: 5px;
}

ul.category.list-unstyled.col-lg-4.col-md-6.col-sm-12 a {
    /* color: red; */
    padding-left: 0;
}

.img-menu-category.col-md-4 {
    position: static;
}

.wrapper-category-sub {
    padding-left: 0;
    padding-right: 0;
}

.wrapper-category-sub ul {
    padding-bottom: 0px;
    /* border: none; */
}

.category-sub li a {
    /*background: #e6e6e6;*/
    padding: 0;
}

.dropdown-menu.my-drop-subpage ul li a:hover {
    border-left: 0px;
    border-bottom: none;
    padding-left: 20px;
    text-decoration: underline;
}

.dropdown-menu.my-drop-subpage ul li a {
    margin-top: 5px;
    /* width: 100%; */
    border-left: 0px;
    border-bottom: none;
    padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.side-bar ul .menu li a {
    color: #505050;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu.my-drop-subpage li:nth-child(n) {
    background: none;
    border-left: none;
    border-right: none;
    padding: 0px;
    border-bottom: none;
}

.dropdown-menu.my-drop-subpage li:nth-child(n):hover {

    border-left: none;
    border-right: none;
    padding: 0px;
    border-bottom: none;
}

.megamenu:hover .dropdown-menu {
    display: block;
    position: absolute;
}

.side-bar .dropdown:hover {
    position: static;
}

.wrap-category-image img {
    float: right;
    height: 337px;
    margin-top: -36px;
    width: 242px;
    margin-right: -27px;
}

.wrapper-category.col-md-12 {
    padding-right: 0;
}

.img-menu-category.col-md-4 {
    padding-right: 0;
    padding-left: 0;
}

.wrap-category-image-sub img {
    /*float: right;*/
    /*height: 508px;*/
    /*margin-right: -37px;*/
    width: 100%;
    /*min-height: 500px;*/
}

.wrap-category-image-sub {
    border-left: 2px dotted #ddd;
    margin-top: -36px;
}

.wrap-category-image-sub img {
    width: 100%;
}

.title-category h5 {
    margin-top: 4px;
    color: #e47911;
    /* padding: 5px; */
    padding-top: 3px;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 0;
    font-size: 19px;
    border-bottom: 1px solid rgba(35, 47, 62, 0.06);
}

.title-category-sub h5 {
    margin-top: 4px;
    color: rgba(35, 47, 62, 0.72);
    /* padding: 5px; */
    padding-top: 3px;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 0;
    font-size: 19px;
    border-bottom: 1px solid rgba(35, 47, 62, 0.06);
}

.wrapper-category.col-sm-9.col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
.container.header {
    background: #232f3e;
}

@media(min-width: 1200px) {
    .top-header img {
        position: absolute;
        width:100%;
        height: 100px;
    }
    img.flag {
        height: 17px !important;
        width: 27px;
        margin-left: -26px;
    }
    img.small-logo {
        height: 80px !important;
        width: 180px;
    }

}
ul.category.list-unstyled.col-lg-4.col-md-4.col-sm-4.col-xs-4 a {
    padding: 5px;
}
ul.category.list-unstyled.col-lg-4.col-md-4.col-sm-4.col-xs-4 a:hover {
    background: transparent;
    border-left: none;
    padding: 5px;
    text-decoration: underline;
}
.category.list-unstyled.col-lg-4.col-md-4.col-sm-4.col-xs-4 a p {
    width: 194px;
    /* background: gray; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-menu.my-drop img:hover {
    cursor: pointer;
}
.nav-tabs>li>a:hover {
    border: none;
}
i.fa.fa-female {
    padding-right: 12px;
}
i.fa.fa-lemon-o {
    padding-right: 11px;
}
i.fa.fa-television {
    padding-right: 5px;
}
i.fa.fa-diamond {
    padding-right: 5px;
}
i.fa.fa-car {
    padding-right: 5px;
}
i.fa.fa-shopping-basket {
    padding-right: 5px;
}
i.fa.fa-cogs {
    padding-right: 5px;
}