/* component/memberpage/css/member.css */
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 20px;
    width: 100%;

}

.choose_file{
    padding: 5px 10px;
    background: rgb(247, 116, 22);
    border: 1px solid rgb(247, 116, 22);
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
    left: 0px;
    width: 107px;
    height: 30px;
    overflow: hidden;
    z-index: 0;
}


.profile_image{
    left: 10px;
}
.nav-merchant {
    background: #232f3e;
    margin: 0 auto;
    min-height: 50px;
}
#controlled-tab-example {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    color: black;

}
#controlled-tab-special{
    margin-top: 15px;
    box-shadow: 1px 0px 0px 2px rgba(128, 128, 128, 0.06);
    background: white;
    padding-right: 8px;
    margin-bottom: 10px;
    height: 436px;

}
#controlled-tab-store{
    box-shadow: 0;
    background: transparent;
    padding: 10px;
    margin-bottom: 10px;
    max-height:240vh;
    min-height:50vh;
}
.container.manage-ads {
    width: 1080px;
}
ul.nav-merchant-right.pull-right li a {
    color: white;
}
ul.nav-merchant-right.pull-right li {
    float: left;
    padding-right: 10px;
    margin-top: 12px;
}
ul.nav-merchant-right.pull-right {
    width: 200px;
}
.btn.btn-default.product-merchant.btn.btn-default {
    background: #232f3e;
    color: white;
    text-shadow: none;
    font-weight: normal;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    width: 100px;
}
.btn.btn-default.product-merchant.btn.btn-default:hover {
    background: #374d69;
    color: white;
    text-shadow: none;
    font-weight: normal;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    width: 100px;
}
.image-wrap-list-product img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
}
h4.media-heading {
    padding-top: 5px;
}
#controlled-tab-merchant ul li {
    width: 210px;
    background: #232f3e;
    border-right: 1px solid white;
}
#controlled-tab-admin-report ul li {
    width: 262.5px;
    background: #232f3e;
    border-right: 1px solid white;
}
#controlled-tab-admin-report ul li a:hover {
   color:white !important;
    background: #1a1d21;
}
