/*
 share_component/location/location.css
 */
.wrap-location {
    background-color: white;
}

ul.ul-location {
    list-style-type: none;
}

ul.ul-location li {
    margin: 5px 0px;
}
.ul-location {
    padding-left: 25px;
}

.col-xs-6.col-sm-6.col-md-3.col-lg-3.location {
    padding-left: 15px;
    padding-right: 15px;
}

.row.location {
    margin-left: -23px;
}

.wrap-location {
    background-color: rgba(35, 47, 62, 0);
    margin-left: 10px;
    box-shadow: 1px 1px 1px 1px rgba(35, 47, 62, 0.18);
}
.m-title-header.custom-header.location {
    height: 41px;
}