/* components/share_component/advertisement/advertisment.css */
ul li {
    display: block;
}

.v-image img{
    width: 409px;
    height: 245px;
}

.v-image-home img{
    width: 557px;
    height: 245px;
}

.h-image img{
    width: 273px;
    height: 443px;
}

.add-image-left {
    border: 0px;
    float: right;
    margin-right: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.add-image {
    float: left;
    border: 1px;
}

.dml2.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}

.sml3.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}

.my-carousel-top.carousel.slide img {
    height: 300px;
}

.my-carousel-top.carousel.slide {
    height: 300px;
}

.my-carousel.sub-slide.carousel.slide img {
    height: 323px;
}

.my-carousel.sub-slide.carousel.slide {
    height: 298px;
}

.my-carousel.vertical-ad-home.adv.carousel.slide {
    height: 245px;
}

.my-carousel.vertical-ad-home.adv.carousel.slide img {
    height: 245px;
}

.advertise_sub_page.horizontal {
    height: 443px;
    width: 273px;
}

.advertise_sub_page.horizontal img {
    height: 443px;
    width: 273px;
}

.wrap-header-product.adver {
    padding: 0px;
    margin: 0 auto;
}

ul.product-adv {
    list-style-type: none;
}

img.add-image {
    margin: 0 auto;
    width: 100%;
}

.add-image-left {
    border: 0px;
    float: right;
    margin-right: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.wrapp_image {
    width: 100%;
}

.padding_right_05 {
    padding-right: 20px;
}

.advertise_sub {
    margin: 12px;
}

.row.wrap-center-normal-products.list {
    margin-left: 30px;
    margin-right: 27px;
    margin-bottom: -8px;
}

/*add product normal*/
.row.custom-row-add-homepage {
    margin-right: -15px;
}

.row.custome-row-add-homepage {
    margin-left: 0px;
    margin-right: 0px;
}

.row.custom-row-ad-hot {
    margin-left: 0px;
    margin-right: 0px;
}

.row.custom-row-gold-home {
    margin-left: 0px;
    margin-right: 0px;
}

.row.custom-row-normal-home {
    margin-left: -3px;
    margin-right: -15px;
}

.sub-advertise {
    padding-right: 0;
    padding-left: 5px;
}

/*row ad product normal*/
@media (min-width: 320px) {
    .wrapp_image.page-search img {
        height: 100px;
        margin-top: 09px;
        margin-bottom: 0px;
    }

    .detail-page.col-xs-6.col-sm-3.col-md-12.col-lg-12.advertise {
        padding-right: 0;
        padding-left: 10px;
        margin-bottom: 0;
    }

}

@media (min-width: 768px) {

    .wrapp_image img {
        width: 100%;
        height: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .wrap-row-header {
        /* background: red; */
        width: 100%;
        padding-left: 9px;
    }

    .wrap-header-product {
        background: rgb(255, 255, 255);
        height: 46px;
        box-shadow: 1px 1px 1px 1px rgba(35, 47, 62, 0.25);
        color: #232f3e;
        border-bottom: 2px solid #febd69;
    }
}

@media (min-width: 1200px) {
    .wrapp_image img {
        width: 100%;
        height: 200px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .wrap-row-header {
        /* background: red; */
        width: 100%;
        padding-left: 0px;

    }

    .row.row-ad-normal-category {
        margin-right: 9px;
        margin-left: 5px;
    }

    .wrapp_image.page-search img {
        height: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@charset 'UTF-8';
/* Slider */
/*.slick-loading .slick-list*/
/*{*/
/*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
/*}*/

/* Icons */
/*@font-face*/
/*{*/
/*font-family: 'slick';*/
/*font-weight: normal;*/
/*font-style: normal;*/

/*src: url('./fonts/slick.eot');*/
/*src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');*/
/*}*/
/* Arrows */
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: rgba(243, 244, 249, 0.06);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    width: 30px;
    height: 40px;
    background-image: url(/icon/sliderprev.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(60, 54, 50, 0.19);

}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
    z-index: 1111;
    background-image: url(/icon/sliderprev.png);
    background-repeat: no-repeat;
    background-position: center center;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
    background-image: url(/icon/sliderprev.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.slick-prev:before {
    background-image: url(/icon/sliderprev.png);
    background-repeat: no-repeat;
    background-position: center center;
}

[dir='rtl'] .slick-prev:before {
    background-image: url(/icon/sliderprev.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.slick-next {
    right: 0;
    background-image: url(/icon/slidernext.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    background-image: url(/icon/slidernext.png) !important;
    background-repeat: no-repeat;
    background-position: center center;

}

[dir='rtl'] .slick-next:before {
    background-image: url(/icon/slidernext.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 0px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 4.75;
    color: white;
}

.slick-prev:before {
    content: none;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
    content: none;
}
